<div class="header">
  <div class="left-box" (click)="goToHomepage()">
    <div class="shop-icon"><mat-icon>shop</mat-icon></div>
    <div class="shop-title">Salonguru App</div>
  </div>
  <div class="right-box">
    <div class="shop-icon">
      <mat-icon
        [matBadge]="
          (productBasketService.productBasketItemsBehaviorSubject | async)
            ?.length
        "
        (click)="onProductBasketClick()"
        >shopping_basket</mat-icon
      >
    </div>
  </div>
</div>
<app-basket-preview
  *ngIf="productBasketService.isProductBasketItemVisible | async"
></app-basket-preview>
<router-outlet></router-outlet>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
