.header {
  display: flex;
  width: 90%;
  margin: 1em auto;
  font-size: 4em;
  justify-content: space-between;

  & .right-box .shop-icon:hover {
    cursor: pointer;
  }

  & .left-box {
    display: flex;
    align-items: center;
  }

  & .left-box:hover {
    cursor: pointer;
  }

  & .shop-title {
    margin-left: 0.5em;
  }

  & .shop-icon mat-icon {
    height: auto;
    width: auto;
    font-size: inherit;
  }
}
