.basket-items {
  position: fixed;
  top: 8em;
  right: 2em;
  width: 23em;
  z-index: 100;
  background: whitesmoke;
  border-radius: 5px;
  padding: 1em;

  & .basket-item {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .basket-item-name{
      width: 9em;
    }

    & .basket-item-remove-icon:hover {
      cursor: pointer;
    }
  }

  & .basket-total {
    border-top: 0.2em solid black;
  }

  & .basket-checkout-bar {
    display: flex;
    justify-content: center;
  }
}
